/**************
* body styles *
**************/
:root {
    --a: rgb(226, 206, 180);
    --darker: burlywood;
    --hover: rgb(151, 96, 24);
    --gray: rgb(52, 52, 59);
    --light: #fdfcfc;
}

html {
    background-color: var(--light);
}

body {
    max-width: 1000px;
    min-height: 100vh;
    margin: 10px auto 0 auto;
    background-color: var(--gray);
    color: var(--light);
    padding: 2rem;
}

/************************
* small view navigation *
************************/

#menu {
	font-size: 1.5rem;
	border: 1px solid var(--gray);
	padding: 3px 7px 6px;
	background-color: var(--darker);
	color: var(--gray);
 	position: relative;
	margin-left: 90%;
	top: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
    color: var(--a);
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
    transform: translatey(-110vh);
    will-change: transform;
    transition: transform 1s ease-in;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--a);
}

.navigation li a:hover {
	color: var(--hover);
	font-weight: 700;
}

.navigation li a.active {
    color: var(--gray);
    background-color: var(--darker);
    font-weight: bold;
    border-radius: .3rem;
}

/* when the button is clicked - the open class is toggled (added/removed) and accounted for here */
.navigation.open {
    margin-top: 2rem;
    padding: 0;
    transform: translatey(0);
    will-change: transform;
    transition: transform .5s ease-out;
}

.open li {
    margin: .5rem auto .5rem auto;
	display: block;
	width: 100%;
    margin: .5rem auto;
    background-color: var(--darker);
    border-radius: .5rem;
}

.open li a {
	display: block;
    color: var(--gray);
}

/************************
* large view navigation *
************************/
@media (min-width: 600px) {
    #menu {
		display: none; /* hide hamburger button */
	}

    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        transform: none; 
    }

	.navigation li {
		display: block;
        background-color: transparent;
	}

    .navigation li a {
        color: var(--darker);
    }
}